@import 'App/styles/index.scss';

#root {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans';
  background-color: #fff;
}

body {
  background-color: rgb(233, 233, 233);
}


* {
  margin: 0;
  padding: 0;
}
